<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>OSCI Tenants Info</title>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta charset="utf-8">
    <link rel="canonical" href="https://www.osci.io/">
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/headings_anchors.css" />
    <link rel="stylesheet" href="/tenants_info.css" />
    <script src="/assets/main.js"></script>
  </head>
  <body>
    <header class="masthead hidden-print" id="branding" role="banner">
    <section class="hgroup">
      <a href="https://www.osci.io/"><img id="logo" class="logo is-svg" alt="OSCI.IO - Open Source Community Infrastructure" src="/images/logo.svg"></a>
    </section>
    <h1>
      Tenants Info
    </h1>
    </header>
    <div class="page-content" id="page-wrap">
    <div class="wrapper">
    <div class="container">
    <div class="col-xs-12">
    <div class="grid frontpage">
    <section>
      Please find <a href="https://mojo.redhat.com/docs/DOC-1073595">general information about the OSPO Comminfra / OSCI team</a> as well as <a href="https://mojo.redhat.com/docs/DOC-1191763">how to contact us</a>. Communities may also have a <a href="https://mojo.redhat.com/docs/DOC-1175910">Community Manager</a> who can help find the right contact inside the community.
    </section>
    <section>
      The OH/CC fields below means:
      <ul>
        <li>OH: number of OSCI Hosts (VMs or bare metal)</li>
        <li>CC: Community Cage Tenant (Yes/No)</li>
      </ul>
      Even if the tenant has no hosts and is not hosted in the Community Cage they may still use shared OSCI services.
    </section>
    <main>
    <table>
      <thead>
        <tr>
          <th class="tenant_name">Tenant</th>
          <th class="tenant_tech_info">OH/CC</th>
          <th class="tenant_contacts">Contacts</th>
          <th class="tenant_links">Links</th>
          <th class="tenant_notes">Notes</th>
        </tr>
      </thead>
      <tbody>
{% for t in tenants_info %}
        <tr class="tenant">
          <td class="tenant_name"><span id="{{ t.name | to_uuid }}">{{ t.name }}</span></td>
          <td class="tenant_tech_info">{{ tenants_hosts[t.name]|default(0) }} / <span class="{{ t.community_cage|default(false)|ternary('v-true">&#10004;', 'v-false">&#10006;') }}</span></td>
          <td class="tenant_contacts">
{% if t.contacts is defined %}
            <ul>
{% for c_name, c_comm in t.contacts|dictsort %}
              <li>{{ c_name }}
                <ul>
{% for c in c_comm %}
                  <li><a href='{{ c }}'>{{ c.split(':')[1] }}</a></li>
{% endfor %}
                </ul>
              </li>
{% endfor %}
            </ul>
{% else %}
            <span class='warning'>Contacts are missing!</span>
{% endif %}
          </td>
          <td class="tenant_links">
{% if t.urls is defined %}
            <ul>
{% for l_name, l_url in t.urls|dictsort %}
              <li><a href='{{ l_url }}'>{{ l_name }}</a></li>
{% endfor %}
            </ul>
{% endif %}
          </td>
          <td class="tenant_notes">
{% if t.notes is defined %}
            <ul>
{% for comment in t.notes %}
              <li>{{ comment }}</li>
{% endfor %}
            </ul>
{% endif %}
          </td>
        </tr>
{% endfor %}
      <tbody>
    <table>
    </main>
  </div>
  </div>
  </div>
  </div>
  </div>
  <script src="/headings_anchors.js"></script>
  </body>
</html>
